.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-layout__viewport {
  width: 100%;
  height: 100%;
  max-width: 768px;
  display: block;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
