.login-route__viewport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}

.login-route__auth-form {
  max-width: 425px;
  padding: 1em;
}